body{
	background-color: #F3F2F0;
}


/*/////////////////////////////////////////*/
.navbar {
  margin: 0 auto;
  text-align: justify;
}
.top{
  background: brown;
  opacity: 0;
}
.logotype{
  vertical-align: middle; 
  transition: 0.5s;
}
.headhesive{
  background: black;
  position: fixed;
  width: 100%;
  transition: 0.5s;
   opacity: 1;
   z-index: 1000;
}

.headhesive--stick{
   transition: 0.5s;
}

.headhesive--stick .nav > li > a {
  padding: 20px 15px;
  transition: padding 0.5s;
}
.headhesive--stick .navbar-brand {
  height: 30px;
  padding: 10px 10px;
  transition: 0.5s;
 
}
.headhesive--stick .logotype{
  width: 80%;
  height: auto;
  transition: 0.5s;
}


/*//////////////////////////////////////*/

body{

}


.top, .bg{
	background-color: #272828;
	
}
.navbar-collapse {
	float: right;
	
}
@media (max-width: 768px) {
	.navbar-collapse{
		float: none;
		text-align: center;
	}
    
}
 .navigation{
  background-color: #272828;
}

header {
	border-bottom: solid 2px black;
}
header .navbar-brand {
	padding-top: 40px;
	padding-left: 40px;
	height: 120px; 
}
.navigation a{
	color: #98948F;
}
.navigation a:hover{
	color: white;
}
.navbar-nav > li > a:hover{
	background-color: #F93C40;
}

/* MAIN CONTENT */
.main_content{
	background-color: #242424;
	padding-top: 40px;
}
.main_content img{
	
}
.thumbnails{
	background-color:#F3F2F0;
}
.about_us a{
	float: right;
}

/* BOTTOM */
.list-group-item a{
	color: #F93C40;
}
.links{
	margin-top: 53px;
}
.caption p{
	color:#9C9897;
}
.links p{
	padding-bottom: 20px;
	padding-left: 15px; 
	color:#9C9897;
}
.bottom{
	background-color:#F3F2F0;
}
.links hr{
	color: #E5E3E0;
	background-color: #E5E3E0;
	height: 1px;
}
.blog_posts {
	padding-top: 53px;
}
.blog_posts p{
	color:#9C9897;
}
.blog_posts h2{
	color:#ED363A;
	font-size: 14px;
}
.blog_posts h4{
	font-size: 10px;
}
.blog_posts h3{
	font-size: 12px;
	color: #B1ADAA;
}
.blog_posts a{
	float: right;
}
.input-group{
	padding-top: 10px;
}
.form input, textarea{
   background-color: #242424;
   margin-top: 10px;
   margin-bottom: 0px;
   height: 30px;
   width: 100%;
   border: none;
   border-radius: 4px;
}
.form textarea{
   height: 100px;
}
.form input[type='submit']{
	color: white;
	background-color: #ED363A;
	width: 80px;
}
.form input[type='submit']:hover{
    background-color: #F93C40;
}
.form{
	padding-top: 53px;
}
.form p{
   color: #B1ADAA;
}
footer{
	height: 60px;
	color: #999590;
	background-color: #F3F2F0;
}
footer .copyright{
	float: left;
	padding-top: 20px;
	
}
footer .template{
	float: right;
	padding-top: 20px;
}
.line{
	padding:0;
	margin:0;
	height: 1px;
	background-color: #AEA298;
	width: 100%;

}